{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Edit media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}{% endblock headermeta %}

{% block innercontent %}
    <div class="user-action-form-wrap waic-cyber-page waic-form-page" data-waic-kicker="EDIT_METADATA">
			{% include "cms/media_nav.html" with active_tab="metadata" %}
			<div class="waic-form-card">
				{% csrf_token %}
				{% crispy form %}
			</div>
	</div>

{% endblock innercontent %}
