{% extends "base.html" %}
{% load static %}

{% block headtitle %}播放列表 - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<link href="{% static "css/playlist.css" %}" rel="preload" as="style">
<link href="{% static "css/playlist.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-playlist" class="waic-cyber-page waic-page-surface waic-page-surface--media" data-waic-kicker="PLAYLIST_NODE"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
    <script src="{% static "js/playlist.js" %}?v={{ VERSION }}"></script>
{% endblock bottomimports %}
